{# templates/rhel-repos.json.j2
   Renders a repo definition keyed by arch for the given rhel_version.
   EUS repos exist for 8.x/9.x minor releases. For RHEL 10, .0 uses GA repos;
   later minors use EUS. We derive the major/minor and pick the CDN path. #}
{%- set major = rhel_version.split('.')[0] -%}
{%- set minor = rhel_version.split('.')[1] -%}
{%- if major == "10" and minor == "0" -%}
{%- set repo_base = "dist/rhel" ~ major ~ "/" ~ rhel_version -%}
{%- else -%}
{%- set repo_base = "eus/rhel" ~ major ~ "/" ~ rhel_version -%}
{%- endif -%}
{
    "{{ arch }}": [
        {
            "name": "baseos",
            "metalink": "",
            "baseurl": "https://cdn.redhat.com/content/{{ repo_base }}/{{ arch }}/baseos/os/",
            "mirrorlist": "",
            "gpgkey": "file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release",
            "check_gpg": true,
            "metadata_expire": "",
            "rhsm": true
        },
        {
            "name": "appstream",
            "metalink": "",
            "baseurl": "https://cdn.redhat.com/content/{{ repo_base }}/{{ arch }}/appstream/os/",
            "mirrorlist": "",
            "gpgkey": "file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release",
            "check_gpg": true,
            "metadata_expire": "",
            "rhsm": true
        }
    ]
}
